<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @entry.body %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @entry.entry_type %>
</p>

<p>
  <strong>Community id:</strong>
  <%= @entry.community_id %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @entry.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<h2>Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>