<p id="notice"><%= notice %></p>

<p>
  <strong>Slug:</strong>
  <%= @network.slug %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @network.domain %>
</p>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
